:root {
    --fonty: Ubuntu;
}
body {
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-family: Libre Baskerville;
    letter-spacing: 5px;
    font-weight: 900;
    font-style: italic;
    font-size: 65px;
    color: #D21437;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #D21437; 
    border-top: 8px solid #626466;
    border-bottom: 8px solid #626466;
    border-radius: 10px;
    padding: 10px;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 100px;
}

#iwu-photo {
    position: fixed;
    display: inline;
    left: 5px;
    top: 5px;
    width: 250px;
}
.center-photo {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#image {
    flex-basis: 600px;
    filter: brightness(140%);
    box-shadow: 10px 10px #D21437, 20px 20px #626466;
    border-radius: 10px;
    max-width:100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
#img-caption {
    text-align: center;
    position: relative;
    top: 20px;
    left: 100px;
    font-family: var(--fonty);
}
#royer-image-div {
    margin-top: 50px;
    flex-direction: column;
}
#royer-image {
    width: 250px;
}
#royer-caption {
    display: block;
    font-weight: 600;
    font-family: var(--fonty);
  
}

#royer-info {
    border-top: 5px solid grey;
    border-right: 5px solid #D21437;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    height: 150px;
    text-align: left;
    width: 60%;
    margin: auto;
    font-family: var(--fonty);
    line-height: 30px;
}
#royer-info p {
    margin: 20px 20px;
    font-size: 18px;
}
hr {
    width: 75%;
    height: 8px;
    background: linear-gradient(-45deg, #D21437,rgb(185, 185, 185),grey);
    transform: skewX(50deg);
}
#learning {
    position: absolute;
    text-align: center;
    border-radius: 10px;
    right: 0px;
    top: 390px;
    margin-right: 50px;
    font-family: var(--fonty);
    /*background-color: red;*/
    width: 350px;
    background-color: rgb(221, 221, 221);
    padding: 10px;
}
#learning p {
    font-weight: 800;
    font-size: 20px;
    text-decoration:underline;
}
#python-list {
    font-size: 20px;
}
#python {
    width: 100px;

}

footer {
    margin-left: auto;
    margin-right: auto; 
    text-align: right;
    width: 70%;
    position: relative;
    top: -15px;
    font-family: var(--fonty);
}
